a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
  color: red;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 33px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
li {
  color: gray;
}
p {
  color: gray;
}
p#results {
  color: black;
}
.checkitout {
  color: red;
  font-weight: bold;;
}
.container {
  margin-bottom: 20px;
}
.headerbox{
  padding: 20px;
  border: solid rgb(189, 189, 189);
  border-width: 1px;
}
.subhead{
  border: solid rgb(189, 189, 189);
  border-width: 1px;
  padding: 15px;
  padding-bottom: 10px;
  background-color: rgb(247, 247, 247);
  margin-bottom: 0;
}
#looklikeepi {
  margin-top: 20px;
}
#resultsWindow {
  padding: 20px;
  border: solid rgb(189, 189, 189);
  border-width: 1px;
  display: none;
}